.container-1 {
    width: 80%;
    height: 20%;
    padding: 0.8% 10.90% ;
    margin-left: -1%;
    margin-top: -1%;
    background-image: linear-gradient(to bottom right , rgb(95, 204, 207), rgb(253, 113, 143));
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-weight: bold;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right , rgb(168, 234, 236), rgb(243, 136, 154));
    font-size: 500%;
    text-align: center;
    text-shadow: 3px 3px rgb(63, 62, 62);
    box-shadow: 3px 5px 3px rgb(95, 95, 95);
}

.topnav {
    overflow: hidden;
    padding: 1%;
  }

  .topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 900;
  }

  .topnav a:hover {
    background-color: #9ed4ddbd;
    color: white;
    border-radius:5px;
  }
  
  
  .fas {

      font-size: 130%;
      color: #ffffe2;
      cursor: pointer;
  }

  .fas:hover {
      color: #e2e2e2;
  }

  #donate {
      margin-left: 85%;
  }

  .container-2 {
    width: 80%;
    height: 60%;
    background-color: rgb(253, 232, 239);
    padding: 2% 10.90% ;
    margin-left: -1%;
    margin-top: -1%;
    justify-content: space-around;

  }

  .middle {
    width: 65%;
    background-color: white;
    flex: 1%;
    flex-wrap: wrap;
    padding: 4%;
    box-shadow: 7px 4px 5px rgb(167, 167, 167);
    border-radius: 15px;
  }

  .firstpost {
    background-color: rgb(230, 187, 205);
    color: rgb(49, 49, 49);
    font-weight: bold;
    flex-wrap: wrap;
    text-align: right;
    padding: 2%;
    width: 20%;
    margin-left: 5%;
    box-shadow: 7px 4px 5px rgb(190, 190, 190);
    border-radius: 15px;
  }

  .secondpost {
    background-color: rgb(230, 187, 205);
    color: rgb(49, 49, 49);
    font-weight: bold;
    flex-wrap: wrap;
    text-align: right;
    padding: 2%;
    width: 20%;
    margin-left:37%;
    margin-top: -28%;
    box-shadow: 7px 4px 5px rgb(190, 190, 190);
    border-radius: 15px;
}

  .thirdpost {
    background-color: rgb(230, 187, 205);
    color: rgb(49, 49, 49);
    font-weight: bold;
    flex-wrap: wrap;
    text-align: right;
    padding: 2%;
    width: 20%;
    margin-left:70%;
    margin-top: -28%;
    box-shadow: 7px 4px 5px rgb(190, 190, 190);
    border-radius: 15px;
  }


  .sidenav img {
    width: 100%;
  }

  .sidenav {
    width: 130px;
    position: absolute;
    margin-top: -18%;
    margin-left: 70%;
    background: rgb(255, 255, 255);
    padding: 2%;
    text-align: right;
    box-shadow: 7px 4px 5px rgb(167, 167, 167);
    border-radius: 15px;
  }
  
.container-3 {
    width: 80%;
    height: 20%;
    padding: 0.8% 10.90% ;
    margin-left: -1%;
    margin-bottom: -1%;
    background-image: linear-gradient(to top left , rgb(95, 204, 207), rgb(253, 113, 143));
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.introtext {
  text-align: center;
  font-size: 250%;
  font-weight: bold;

}

.copy {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 80%;
}
